* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: monospace;
}

$accordion_color: rgba(89, 221, 37, 0.527);
$accordion_hover: rgb(83, 175, 41);
$text_color: rgba(20, 19, 19, 0.863);

.acc {
    background-color: $accordion_color;
    color: $text_color;
    font-weight: 600;
    cursor: pointer;
    padding: 18px;
    width: 200px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;

    &:after {
        content: '\1F60E';
        color: $text_color;
        font-size: 25px;
        float: right;
        margin-left: 3px;
    }

    &:hover {
        background-color: $accordion_hover;
    }

    &.active {
        background-color: $accordion_hover;

        &:after {
            content: "\1F610";
        }
    }
}


.acc_content {
    width: 200px;
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    border: 1px solid $accordion_color;
    transition: max-height 0.2s ease-out;
}